body {
    font-family: Arial, sans-serif;
}

.notification-banner {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-out 2.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.card {
    max-height: 200px;
    overflow: hidden;
}

.card-img-top {
    height: 120px;
    object-fit: cover;
}

video.card-img-top {
    height: auto;
}

.fixed-image-size {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 50%;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}